<h3>Crypto Currency Portfolio</h3>

<br/>

<h4>This is demo version of crypto currency portfolio, built with Ruby On Rails.</h4>
<h4>Actual market data is provided by <a href="https://coinmarketcap.com/api/">Coinmarketcap API</a>.</h4>

</br></br>

<h4>Use following 'Sign In' account to try the application: </h4>

</br>

<h4>Email:     test@test.com </h4>
<h4>Password:  testtest</h4>
